* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

#container {
  background: #00B9AC;
  height: 100%;
    padding: 10px;
 }
  #container .item {
    text-align: center;
    border: 1px solid black;}
    #container .item img {
      max-width: 100%;
      max-height: 100%;
      margin: 15px 0 0 0; }
  #container .r33 {
    /*height: 33%;*/
    text-align: center; }
#container .r25 {
    /*height: 25%;*/
    text-align: center; }
  #container .color2 {
    background: blue; }
  #container .color3 {
    background: green; }
  #container .color4 {
    background: yellow; }

  .row{
      background-color: white;
  }
