* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

#container {
  background: #eeeeee;
  height: 100%;
  overflow: hidden; }
  #container .item {
    text-align: center; }
    #container .item img {
      max-width: 100%;
      max-height: 100%;
      margin: 15px 0 0 0; }
  #container .r33 {
    height: 33%;
    text-align: center; }
  #container .color2 {
    background: blue; }
  #container .color3 {
    background: green; }
  #container .color4 {
    background: yellow; }

.gender-button {
  width: 50%;
  float: left; }

.female {
  background-color: #a8648c; }

.male {
  background-color: #2c4fa8; }
