$color-1: #EEE;
$color-2: blue;
$color-3: green;
$color-4: yellow;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

#container {
  background: $color-1;
  height: 100%;
  overflow: hidden;
  .item {
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
      margin:15px 0 0 0;
    }
  }
  .r33{
    height: 33%;
    text-align: center;
  }
  .r25 {
    height: 25%;
    text-align: center;
  }
  .color2 {
    background: $color-2;
  }
  .color3 {
    background: $color-3;
  }
  .color4 {
    background: $color-4;
  }
}

.gender-button{
  width: 50%;
  float: left;
}

.female{
  background-color: #a8648c;
}


.male{
  background-color: #2c4fa8;
}
$geel:#F0C41D;
$rood:#B91E46;
$blauw:#00B8AC;

h2 {
  font-size: 36px;
  color: $rood;
  margin-top: 20px;
}
h3 {
  font-size:14px;
  margin-top:20px;
  color:$geel;
  text-transform:uppercase;
}
i {
  font-size: 84px;
  color:$blauw;
}
i.time {
  font-size: 24px;
  line-height: 84px;
}

.container-clothes {
  background:url('assets/bg-02.png') no-repeat center center fixed;;
}