* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

#container {
  background: #eeeeee;
  height: 100%;
  overflow: hidden; }
  #container .item {
    text-align: center; }
    #container .item img {
      max-width: 100%;
      max-height: 100%;
      margin: 15px 0 0 0; }
  #container .r33 {
    height: 33%;
    text-align: center; }
  #container .r25 {
    height: 25%;
    text-align: center; }
  #container .color2 {
    background: blue; }
  #container .color3 {
    background: green; }
  #container .color4 {
    background: yellow; }

.gender-button {
  width: 50%;
  float: left; }

.female {
  background-color: #a8648c; }

.male {
  background-color: #2c4fa8; }

h2 {
  font-size: 36px;
  color: #b91e46;
  margin-top: 20px; }

h3 {
  font-size: 14px;
  margin-top: 20px;
  color: #f0c41d;
  text-transform: uppercase; }

i {
  font-size: 84px;
  color: #00b8ac; }

i.time {
  font-size: 24px;
  line-height: 84px; }

.container-clothes {
  background: url("assets/bg-02.png") no-repeat center center fixed; }
