$color-1: #EEE;
$color-2: blue;
$color-3: green;
$color-4: yellow;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

#container {
  background: $color-1;
  height: 100%;
  overflow: hidden;
  .item {
    text-align: center;
    img {
      max-width: 100%;
      max-height: 100%;
      margin:15px 0 0 0;
    }
  }
  .r33{
    height: 33%;
    text-align: center;
  }
  .color2 {
    background: $color-2;
  }
  .color3 {
    background: $color-3;
  }
  .color4 {
    background: $color-4;
  }
}