<div class="row">
    <div class="small-12 large-12 columns">
        <h1>Kies uw geslacht</h1>
        <p>Om u kleren aan te kunnen raden moeten we eerst weten wat uw geslacht is. Als u een fan bent van jeans als vrouw kunt u ook altijd opteren voor het mannelijke geslacht.</p>
        <a class="button gender-button male" ng-click="amMale()"><i class="fa fa-male fa-5x"></i></a>
        <a class="button gender-button female" ng-click="amFemale()"><i class="fa fa-female fa-5x"></i></a>
    </div>
</div>
