<div class="option">
    <h1>
        Rokjesweer
    </h1>
    <h2>Uw geslacht:
        <i class="fa fa-male fa-3x" ng-show="gender=='male'"></i>
        <i class="fa fa-female fa-3x" ng-show="gender=='female'"></i>
    </h2>
    <button ng-click="switchGender()">Geslacht kiezen</button>
    <button ng-click="getMyLocation()">Locatie kiezen</button>
</div>
<div id="container">
    <!--NEW ROW-->
    <div class="item w25 h25 color2 fleft">
        <img src="http://lorempixel.com/400/400/" alt=""/>
    </div>
    <div class="item w25 h25 color3 fleft">
        <img src="http://lorempixel.com/400/400/" alt=""/>
    </div>
    <div class="item w50 h50 color4 fright">
        <img src="http://lorempixel.com/400/400/" alt=""/>
    </div>
    <div class="item w25 h25 color4 fleft">Linksboven</div>
    <div class="item w25 h25 color2 fleft">Linksboven</div>

    <!--NEW ROW-->
    <div class="item w25 h25 color2 fright">Linksboven</div>
    <div class="item w25 h25 color3 fright">Linksboven</div>
    <div class="item w50 h50 color4 fleft">Linksboven</div>
    <div class="item w25 h25 color4 fright">Linksboven</div>
    <div class="item w25 h25 color2 fright">Linksboven</div>
</div>