<div class="option">
    <h1>
        Rokjesweer
    </h1>
    <h2>Uw geslacht:
        <i class="fa fa-male fa-3x" ng-show="gender=='male'"></i>
        <i class="fa fa-female fa-3x" ng-show="gender=='female'"></i>
    </h2>
    <button ng-click="switchGender()">Geslacht kiezen</button>
    <button ng-click="getMyLocation()">Locatie kiezen</button>
</div>
<div class="data">
    <div class="class data-view">
        {{regen}}
    </div>
    <div class="class data-view">
        {{wind}}
    </div>
    <div class="class data-view">
        {{temp}}
    </div>
    <div class="class data-view">
        {{sneeuw}}
    </div>
    <div class="class data-view">
        {{mist}}
    </div>
    <div class="class data-view">
        {{zon}}
    </div>
</div>