<div id="container">
    <!--NEW ROW-->
    <div class="item w25 h25 color2 fleft">
        <img src="http://lorempixel.com/400/400/" alt=""/>
    </div>
    <div class="item w25 h25 color3 fleft">
        <img src="http://lorempixel.com/400/400/" alt=""/>
    </div>
    <div class="item w50 h50 color4 fright">
        <img src="http://lorempixel.com/400/400/" alt=""/>
    </div>
    <div class="item w25 h25 color4 fleft">Linksboven</div>
    <div class="item w25 h25 color2 fleft">Linksboven</div>

    <!--NEW ROW-->
    <div class="item w25 h25 color2 fright">Linksboven</div>
    <div class="item w25 h25 color3 fright">Linksboven</div>
    <div class="item w50 h50 color4 fleft">Linksboven</div>
    <div class="item w25 h25 color4 fright">Linksboven</div>
    <div class="item w25 h25 color2 fright">Linksboven</div>
</div>